<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= name %></title>
  <%- css('base') %>
  <!--[if IE 7]>
  <%- css('lib/font-awesome-ie7') %>
  <![endif]-->
  <%- js('lib/prefixfree') %>
</head>
<body>

  <% include _nav -%>

  <div class="main container">
    <% include _errors -%>

    <section class="body">
      <%- body -%>
    </section>
  </div>

  <% include _modals -%>

  <%- js('client') %>
  <% if (typeof(javascripts) != 'undefined') {
    javascripts.forEach(function(script) {
      -%><%- js(script) %><%
    })
  } -%>

</body>
</html>
